/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

ul {
  margin: 0;
  padding: 0px;
}

li,
h3 {
  list-style: none;
}

input,
button {
  outline: none;
}

.eisenhower-matrix {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.eisenhower-matrix-img {
  width: 100%;
}

.eisenhower-matrix-info {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .eisenhower-matrix {
    text-align: center;
  }
}

.todo-list-wrapper {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task-input,
.task-name {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}

.new-task {
  display: flex;
}

.task-btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.task-btn:hover {
  color: #3a3a3a;
}

/* Heading */
.section-title,
.section-title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

input[type="text"]:focus {
  color: #333;
}

/* New Task */
.section-title-new-task {
  display: block;
  margin: 0 0 20px;
}

.new-task-input {
  width: 318px;
}

/* Task list */
li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li>* {
  vertical-align: middle;
}

.task-checkbox {
  margin: 0 10px;
}

.task-name {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

li>.task-input {
  width: 226px
}

.task-btn-delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.task-btn-delete-img:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed-task .task-name {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
ul li .task-input {
  display: none
}

.task-edit-mode .task-input {
  display: inline-block;
  width: 224px
}

.task-edit-mode .task-name {
  display: none;
}